Hotels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="https://wompuus.github.io/hotelAPI"
           targetNamespace="https://wompuus.github.io/hotelAPI"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

	<!-- Root -->
	<xs:element name="Hotels">
		<xs:complexType> 
			<xs:sequence>
				<xs:element name="Hotel" type="HotelType" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- Hotel: Name (1), Phone(1+), Address (1), Rating attribute optional -->
	<xs:complexType name="HotelType">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Phone" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="Address" type="AddressType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="Rating" type="xs:string" use="optional"/>
	</xs:complexType>

	<!-- Address: Number, Street, City, State, Zip (all required), NearestAirport  optional -->
	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element name="Number" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Street" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="City" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="State" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Zip" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- NearestAirport is optional -->
			<xs:element name="NearestAirport" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
