Hotels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="XMLSchema1"
    targetNamespace="http://tempuri.org/XMLSchema1.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/XMLSchema1.xsd"
    xmlns:mstns="http://tempuri.org/XMLSchema1.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
<!--root-->
	<xs:element name ="Hotels">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Hotel" type="HotelType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
<!--Hotel object : name is required(only 1), one or more phone #, address is required, rating attribute is optional-->
	<xs:complexType name ="HotelType">
		<xs:sequence>
			<xs:element name="Name" type="xs:string"/>
			<xs:element name="Phone" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="Address" type="AddressType"/>
		</xs:sequence>
		<xs:attribute name="Rating" type="xs:decimal" use="optional"/>
	</xs:complexType>

	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element name="Number" type="xs:string"/>
			<xs:element name="Street" type="xs:string"/>
			<xs:element name="City" type="xs:string"/>
			<xs:element name="State" type="xs:string"/>
			<xs:element name="Zip" type="xs:string"/>
			<!-- NearestAirport is optional -->
			<xs:element name="NearestAirport" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
